body {
  background-image: url('./images/background (vertical).png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(53, 64, 139, 0.9);
  width: 90%;
  max-width: 100%; /* Garante que a largura não ultrapasse 100% */
  height: 70vh;
  max-height: 100vh; /* Garante que a altura não ultrapasse 100% */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

#titulo {
  background-color: #ff5925;
  padding: 20px 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}

#titulo h1 {
  font-family: "Big Shoulders Inline", sans-serif;
  color: #f5f864;
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: white;
  text-align: center;
  margin: 30px;
}

#startButton {
  background-color: #ff5925;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}

#inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputDiv p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.input-container {
  position: relative;
  width: 100%;
}

#answer {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding-right: 80px;
}

#submitAnswer {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff5925;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

#successMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#successMessage p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #f5f864;
  text-align: center;
  margin-bottom: 10px;
}

#successMessage a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 14px;
  color: black;
  background-color: #f5f864;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

#errorMessage P {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 10%;
}